body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

.resolution-section {
    width: 100%;
    margin-bottom: 40px; /* Space between low and high resolution sections */
}

.refernce-image {
    border: 2px solid black;
    margin-bottom: 20px; /* Add space below the original image */
}

.other-images {
    display: flex;
    flex-wrap: wrap; /* Allow images to wrap to the next line if necessary */
    gap: 10px; /* Add space between images */
}

.other-images .image-option {
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    text-align: center; /* Center align the text under each image */
}

.gap {
    height: 20px; /* Adjust the space between low and high resolution sections */
    width: 100%;
}

.label-group {
    margin-top: 10px; /* Space above the labels */
}

.favorite-label,
.rank-label {
    margin-top: 5px; /* Space between the favorite and rank labels */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.other-images img {
    border: 2px solid #888 /* Add a 2px solid border to the images */
}